.App {
  text-align: center;
}


.mcontainer{
  margin: 30px;
  padding: 20px;
  border: 2px solid black;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.mcard{
  color: white;
  border: 2px solid black;
  word-wrap: break-word;
  border-radius: 0.25rem;
  background-color: #343a40;
}

.detailsall{
  display: flex;
  justify-content: center;
}

