body{
    background-color: #F0EBE3 ;
    font-family: Jost;
}

.top{
    border: 2px solid rgb(244, 175, 175);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; 
    text-align: center;
    align-items: center;
    padding:3px;
}


.work, .resume, .contact {
    border: 2px solid rgb(244, 175, 175);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center; 
    text-align: center;
    align-items: center;
    padding:3px;
}


.skills, .portofolio{
    border: 2px solid rgb(244, 175, 175);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center; 
    text-align: center;
    align-items: center;
    padding:3px;
}



.work{
grid-column: 1 / span 2;
} 


.back-end, .pro, .form {
    grid-column: 2 / span 3;
} 

h3{
    grid-column: 1 / span 3;
}


img{
    border-radius:80% 80%;
}

.aboutme{
grid-row: 1 / span 3;
} */
 */


/* .hero{
    background-color:  rgb(220, 168, 239);
    grid-row: 2 / span 3;
} */

/* 
/pour plus tard dans mes section le flex  

.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    position: relative;
    height: fit-content;
    border: 1px solid black;
} 

    */ */
