body{
    background-color: #F0EBE3 ;
    font-family: Jost;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: rgb(242, 201, 201);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  


section{
    border: 2px solid rgb(244, 175, 175);
}

.variante{
    display:flex;
    justify-content: space-evenly;
}

.variante, h3{
    text-align: center;
}

.aboutme{
margin-top: 10vh;
}

/* //=== button  */

/* @mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  } */




img{
    border-radius:80% 80%;
}


.skills, .portofolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center; 
    text-align: center;
    align-items: center;
    padding:3px;
}


h3{
    grid-column: 1 / span 3;
}



/* .hero{
    background-color:  rgb(220, 168, 239);
    grid-row: 2 / span 3;
} */

/* 
/pour plus tard dans mes section le flex  

.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    position: relative;
    height: fit-content;
    border: 1px solid black;
} 

    */ */
