@font-face {
  font-family: SEGA LOGO FONT;
  src: url("../Fonts/SEGA.ttf");
}


body{
    height: auto;   
}

nav{
    padding : 10px;
    height:auto;
    border: 2px solid black;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(169, 99, 233);
    font-family: SEGA LOGO FONT;
    font-size: 24px;
}

section{
    padding : 50px;
    height:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    background-color: rgb(73, 177, 148);
    background-image: url("circuit-pattern (1).png");
}

.cardRobot {
    margin : 1rem;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    font-weight: 600;  
}
img {
    
    border-radius: 50%;
    background-color: rgb(198, 187, 187);
    border: 2px solid black;
}