body{
    margin:10px;
}

.jumbotron{
    background-image: url(bk-landingpage.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center;
    border-radius: 0px !important;
}
